.estilo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ebebeb;
    color:#111316;
    font-size:larger;
    
    }
img{
        text-align: center;
        align-items: center;
}